// colors
$--color-gray: #D8D8D8;
$--color-dark-gray: #2b2b2b;
$--color-blue: #0069D2;
$--color-dark-blue: #005fbe;
$--color-navy: #000C28;
$--color-off-black: #2E3134;
$--color-blue-green-gradient: linear-gradient(#0069D2, #28E1A5);

// box-shadow
$--box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); // light box-shadow
$--box-shadow-strong: 0px 0px 15px 0px rgba(0,0,0,0.75); // strong box-shadow

